<div class="navBoxbg">
	<div class="navBox container">
		<div class="logo floatl"><a href="__ROOT__/">Yuanrb.com</a></div>
		<div class="nav floatr">
			<ul>
				<li class="navActive"><a href="__ROOT__/">首页</a></li>
				<li><a href="__ROOT__/New/news.html">站内新闻</a></li>
				<li><a href="__ROOT__/index.php/Web/web.html">WEB前端</a></li>
				<li><a href="__ROOT__/Php/php.html">PHP学习</a></li>
				<!--<li><a href="__ROOT__/Feed/feed.html">留言板</a></li>-->
				<li><a href="__ROOT__/index.php/index/about.html">关于我</a></li>
			</ul>
		</div>
	</div>
</div>