<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>留言板 - 南广轩主小站</title>
		<include file="./Application/Web/View/common/keyword.html"/>
		<link rel="icon" href="__PUBLIC__/img/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="__PUBLIC__/css/global.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/feedback.css" />
		<script type="text/javascript" src="__PUBLIC__/js/jquery-1.9.1.min.js" ></script>
		<script type="text/javascript" src="__PUBLIC__/js/main.js" ></script>
		<script type="text/javascript">
			var ROOT = "__ROOT__";
		</script>
		<script type="text/javascript" src="__PUBLIC__/js/feedback.js" ></script>
		<script type="text/javascript">
			$(function(){
				$(".nav ul li").removeClass('navActive');
				$(".nav ul li").eq(4).addClass('navActive');
			});
		</script>
	</head>
	<body>
		<!--导航部分-->
		<include file="./Application/Web/View/common/header.html"/>
		<!--留言内容-->
		<div class="feedBoxbg">
			<div class="feedBox container">
				<!--面包屑-->
				<div class="bread">当前位置：<a href="__ROOT__/Feed/feed.html">{$channel.name}</a></div>
				<div class="title">最新留言</div>
				<ul>
					<volist name="data.feed" id="feed">
						<li>
							<div class="feedTitle"><a href="#">{$feed.title}</a></div>
							<div class="feedTime">{$feed.time}</div>
							<div class="feedContent">{$feed.content}</div>
						</li>
					</volist>
				</ul>
			</div>
		</div>
		<!--分页-->
		<div class="pages">
			{$data.show}
		</div>
		<!--留言表单-->
		<div class="feedFormbg">
			<div class="feedForm container">
				<div class="title">在线留言</div>
				<div class="form">
					<form>
						<div class="formTitle">
							<label for="title">标题</label>
							<input type="text" id="title" name="title" />
						</div>
						<div class="formMail">
							<label for="mail">邮箱</label>
							<input type="email" id="mail" name="mail" />
						</div>
						<div class="formContent">
							<label for="content">内容</label>
							<textarea id="content" name="content"></textarea>
						</div>
						<div class="formCode">
							<label for="code">验证码</label>
							<input type="text" id="code" name="code" />
							<img src="__ROOT__/Feed/code" onclick="this.src='__ROOT__/Feed/code'+'/'+Math.random()" />
						</div>
						<div class="formSend">
							<input type="reset" value="重置" />
							<input type="button" value="提交" onclick="send()"/>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!--底部-->
		<include file="./Application/Web/View/common/footer.html"/>
	</body>
</html>
