*{margin: 0;padding: 0;}
body{font-family: "微软雅黑";}
ul,li,ol{list-style: none;}
a{text-decoration: none;color: #000;cursor: pointer;}
/*浮动*/
.floatl{float: left;}
.floatr{float: right;}
/*title*/
h1,h2,h3,h4,h5,h6 {margin:0;padding:0;font-size:14px;}

/*居中*/
.container{width: 1050px;margin: 0 auto;}
/*按钮*/
input{border: none;cursor: pointer;}
/*白色按钮*/
.btn-white{background-color: #fff;color: #000;border-radius: 5px;border: 1px darkgray solid;}
.btn-white:hover{opacity: 0.8;}
/*大按钮*/
.btn-big{padding: 10px 15px;font-size: 22px;}
/*中按钮*/
.btn-mid{padding: 5px 7.5px;}


/*以下为顶部和底部通用样式*/
/*nav*/
.navBoxbg{background: #000;height: 50px;}
.navBox{overflow: hidden;}
.nav ul li{float: left;}
.logo a,.nav ul li a{display: block;height: 50px;width: 80px;color:#fff;text-align: center;line-height: 50px;}
/*nav活动样式*/
.navActive{background: #333333;}

/*每个翻页按钮的修饰*/
/*分页修饰*/
.pages{text-align: center;margin: 10px 0;}
.pages a,.pages span {display:inline-block;padding:2px 5px;margin:0 1px;border:1px solid #f0f0f0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.pages a,.pages li {display:inline-block;text-decoration:none;color:#58A0D3;padding: 5px 10px;border:1px solid #f0f0f0;}
.pages a.first,.pages a.prev,.pages a.next,.pages a.end{padding: 5px 10px;margin:0;}
.pages a:hover{border-color:#50A8E6;}
.pages a.num{padding: 5px 10px;}
.pages span.current{padding: 5px 10px;background:#50A8E6;color:#FFF;font-weight:700;border-color:#50A8E6;}


/*底部*/
.footerBoxbg{background-color: #000;height: 160px;}

.footerBox{padding-top: 3%;}

.link{margin: 12px 0;overflow: hidden;}
.link li{float: left;margin: 0 12px;}
.link li:first-child{margin-left: 0;}
.link li a{color: #fff;}

.beian{color: #fff;}