/*此文件为站内新闻、web、php页面文章列表list的修饰，仅此三页引入*/
.listTitle{font-size: 32px;}
.listTime{font-size: 12px;color: darkgray;margin-left: 20px;}
.listContent{line-height: 20px;margin-left: 20px;}
/*面包屑距离顶部*/
.bread{margin-top: 50px;}

.listUl{overflow: hidden;}
.listLi{margin: 15px 0;}
