/*此文件为站内新闻、web、php页面文章列表list的修饰，仅此三页引入*/
.listTitle{font-size: 28px;}
.listTitle a:hover{color:#D9534F;}
.listTime{font-size: 14px;color: darkgray;margin-left: 15px;}
.listContent{margin-left: 15px;color:#706F6F;}
/*面包屑距离顶部*/
.bread{margin-top: 50px;}
.bread a{color:#3D84B0;}

/*内容部分*/
.news{overflow: hidden;padding-left:25px;}
.web{overflow: hidden;padding-left:25px;}
.php{overflow: hidden;padding-left:25px;}
/*左边内容*/
.listUl{overflow: hidden;float: left;width: 600px;}
.listLi{margin: 15px 0;}

.zhaiyaoBox{overflow: hidden;width: 100%;margin-top: 5px;}
.zhaiyao{display: inline-block;position: relative;top: -20px;}

/*右边列表*/
.categoryUl{width: 300px;float:right;}
.categoryUl h1{font-size: 28px;font-weight: normal;}
.categoryUl li{margin: 5px 0;}
.categoryUl li a{color: #3D84B0;}
