/*此文件为站内新闻、web、php页面文章列表list的修饰，仅此三页引入*/
.listTitle{font-size: 28px;}
.listTime{font-size: 14px;color: darkgray;margin-left: 20px;}
.listContent{margin-left: 20px;}
/*面包屑距离顶部*/
.bread{margin-top: 50px;}

/*内容部分*/
/*.newsBox{overflow: hidden;}*/
/*左边内容*/
.listUl{overflow: hidden;/*float: left;*/}
.listLi{margin: 15px 0;}

/*右边列表*/
/*.categoryUl{width: 300px;float:right;background: gray;}*/
