/*本文件是首页css*/

/*banner*/
.ban{min-width:1050px;text-align: center;color: #eee;}
.ban h1{font-size: 26px;padding-top: 10%;text-align: center;color: #eee;}
.ban p{margin: 1% auto;font-size: 22px;text-align: center;color: #eee;}
/*.ban span{font-size: 14px;display: block;}*/
.ban a{color:#999;}

/*轮播部分*/
.turnBox{width: 100%;text-align: center;overflow: hidden;position: relative;}
.item-txt{position: absolute;top: 50%;left: 50%;margin-left: -350px;margin-top: -150px;}
/*调节小圆圈位置*/
.owl-dots{position: relative;top: -50px;}


/*内容样式*/
.indexChannel{font-size: 30px;}
.storyTitle{font-size: 22px;}
.storyTitle a:hover{color:#D9534F;}
.storyDate{font-size: 16px;color: darkgray;margin-left: 15px;}
.storyContent{font-size: 16px;margin: 8px 0;color:#706F6F;margin-left: 15px;}

/*1212左右分布*/
.contentBox{overflow: hidden;}
.newArticleList{width: 80%;}
.tjArticleList{width: 19%;}
/*故事*/
.storyzhaiyao{overflow: hidden;width: 100%;margin-top: 5px;}
.zhaiyao{display: inline-block;position: relative;top: -20px;}
.storyBox{margin-top: 30px;}
.story ul li{margin: 12px 0;margin-left: 20px;}

/*复制出来的文章*/
.articleTitle{font-size: 22px;}
.articleTitle a:hover{color:#D9534F;}
.articleDate{font-size: 16px;color: darkgray;margin-left: 15px;}
.articleContent{font-size: 16px;margin: 8px 0;color:#706F6F;margin-left: 15px;}
/*文章*/
.articlezhaiyao{overflow: hidden;width: 100%;margin-top: 5px;}
.zhaiyao{display: inline-block;position: relative;top: -20px;}
.articleBox{margin-top: 30px;padding-bottom: 100px;}
.article ul li{margin: 12px 0;margin-left: 20px;}

/*图片区*/
.photoBox{margin-top: 30px;}
.photo{margin: 20px 0;}
.photo ul{overflow: hidden;}
.photo ul li{float: left;height: 260px;width: 220px;margin: 0 21px;background:#dadada;cursor: pointer;position: relative;}
.photo ul li img{width:220px;}
.photo ul li p{font-size: 16px;text-align: center;line-height: 36px;}


/*图片下隐藏的内容*/
.photo ul li span{width:220px; height: 260px;position: absolute;text-align: center;line-height: 260px;top: 260px;left: 0;background: lightgray;opacity: 0.8;}
/*底部*/

