<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>WEB文章 - 南广轩主小站</title>
		<include file="./Application/Web/View/common/keyword.html"/>
		<include file="./Application/Web/View/common/cssAndJs.html"/>
		<script type="text/javascript">
			$(function(){
				$(".nav ul li").removeClass('navActive');
				$(".nav ul li").eq(2).addClass('navActive');
			});
		</script>
	</head>
	<body>
		<div class="contents">
			<!--导航部分-->
			<include file="./Application/Web/View/common/header.html"/>
			<!--web内容-->
			<div class="webBoxbg">
				<div class="webBox container">
					<!--面包屑-->
					<div class="bread">当前位置：<a href="__ROOT__/Web/web.html">{$data.channel.name}</a> - 
						<empty name="data.category">
							全部WEB文章
						<else />
							{$data.category.name}
						</empty>
					</div>
					<div class="web">
						<ul class="listUl">
							<volist name="data.web" id="web">
								<li class="listLi">
									<div class="listTitle"><a href="__ROOT__/detail/2/{$web.id}.html">{$web.title}</a></div>
									<div class="zhaiyaoBox">
										<img class="left" src="__ROOT__/{$web.img_thumb}" />
										<div class="zhaiyao left">
											<div class="listTime">发布时间：{$web.time}</div>
											<div class="listContent">摘要：{$web.summary}</div>
										</div>
									</div>
								</li>
							</volist>
						</ul>
						<!--右边分类-->
						<ul class="categoryUl">
							<h1>分类</h1>
							<li><a href="__ROOT__/Web/web.html">全部文章</a></li>
							<volist name="data.categorys" id="cate">
								<li><a href="__ROOT__/Web/{$cate.id}.html">{$cate.name}</a></li>
							</volist>
						</ul>
					</div>
				</div>
			</div>
			<!--分页-->
			<div class="pages">
				{$data.show}
			</div>
		</div>
		<!--底部-->
		<include file="./Application/Web/View/common/footer.html"/>
	</body>
</html>
