*{margin: 0;padding: 0;}
body{font-family: "微软雅黑";height: 100%;}
html{height: 100%;}
ul,li,ol{list-style: none;}
a{text-decoration: none;color: #111;cursor: pointer;}
/*浮动*/
.floatl{float: left;}
.floatr{float: right;}
/*轮播图*/
.swiper-container img{width: 100%;}
