*{margin: 0;padding: 0;}
body{font-family: "微软雅黑";height: 100%;}
html{height: 100%;}
ul,li,ol{list-style: none;}
a{text-decoration: none;color: #111;cursor: pointer;}
/*浮动*/
.floatl{float: left;}
.floatr{float: right;}
/*顶部导航*/
.top-bar{overflow: hidden;padding: 0.3rem 0;background-color: #fff;border-bottom: 1px solid #f1f1f1;}
.logobox{float: left;padding: 0 0.5rem;font-size: 0.85rem;}
.top-bar-right{float: right;width: 56%;}
.top-bar .tab-item{display: inline-block;width: 16%;text-align: center;font-size: 0.7rem;}

/*底部*/
.footerBoxbg{width:100%;}
.link{overflow: hidden;}
.link li{float: left;margin: 0 0.3rem;}
.link li:first-child{margin-left: 0;}
.link li a{color: #000;font-size: 0.6rem;}

.beian{display: inline-block;color: #000;font-size: 0.6rem;}