
/*轮播图*/
.swiper-container img{width: 120%;height: 8rem;}
/*轮播圆圈*/
.swiper-container{padding-bottom: 0px;}
/*card-header*/
/*card边距*/
.card{margin: 0.5rem 0!important;}
.card-header{font-weight: bold;font-size: 0.7rem!important;}
/*一级标题*/
.item-title a{color: #105cb6;font-size: 0.65rem!important;}
/*二级标题*/
.item-subtitle{font-size: 0.55rem!important;}
