<div class="tongji">
	<table class="table table-striped table-bordered">
		<tr><th>系统信息</th><th>系统信息</th></tr>
		<tr>
			<td>操作系统：{$info.操作系统}</td>
			<td>运行环境：{$info.运行环境}</td>
		</tr>
		<tr>
			<td>PHP运行方式：{$info.PHP运行方式}</td>
			<td>ThinkPHP版本：{$info.ThinkPHP版本}</td>
		</tr>
		<tr>
			<td>上传附件限制：{$info.上传附件限制}</td>
			<td>执行时间限制：{$info.执行时间限制}</td>
		</tr>
		<tr>
			<td>服务器时间：{$info.服务器时间}</td>
			<td>北京时间：{$info.北京时间}</td>
		</tr>
		<tr>
			<td>服务器域名/IP：{$info.服务器域名/IP}</td>
			<td>剩余空间：{$info.剩余空间}</td>
		</tr>
		<tr>
			<td>框架版本号：{$info.框架版本号}</td>
			<td>根目录：{$info.__ROOT__}</td>
		</tr>
		<tr>
			<td>系统内存统计：{$info.系统内存统计}</td>
		</tr>
	</table>
</div>