<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>PHP文章 - {$config.name}</title>
		<include file="./Application/Web/View/common/keyword.html"/>
		<link rel="icon" href="__PUBLIC__/img/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="__PUBLIC__/css/global.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/list.css" />
		<script type="text/javascript" src="__PUBLIC__/js/jquery-1.9.1.min.js" ></script>
		<script type="text/javascript" src="__PUBLIC__/js/main.js" ></script>
	</head>
	<body>
		<!--导航部分-->
		<div class="navBoxbg">
			<div class="navBox container">
				<div class="logo floatl"><a href="__ROOT__/">Yuanrb.com</a></div>
				<div class="nav floatr">
					<ul>
						<li><a href="__ROOT__/">首页</a></li>
						<li><a href="__ROOT__/New/news.html">站内新闻</a></li>
						<li><a href="__ROOT__/Web/web.html">WEB前端</a></li>
						<li class="navActive"><a href="__ROOT__/Php/php.html">PHP学习</a></li>
						<li><a href="__ROOT__/Feed/feed.html">留言板</a></li>
						<li><a href="__ROOT__/index/about.html">关于我</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--php内容-->
		<div class="phpBoxbg">
			<div class="phpBox container">
				<!--面包屑-->
				<div class="bread">当前位置：<a href="__ROOT__/Php/php.html">{$channel.name}</a> - 
					<empty name="category">
						全部PHP文章
					<else />
						{$category.name}
					</empty>
				</div>
				<ul class="listUl">
					<volist name="data.php" id="php">
						<li class="listLi">
							<div class="listTitle"><a href="__ROOT__/detail/article/channelid/3/id/{$php.id}">{$php.title}</a></div>
							<div class="listTime">发布时间：{$php.time}</div>
							<div class="listContent">摘要：{$php.summary}</div>
						</li>
					</volist>
				</ul>
				<!--右边分类-->
				<ul class="categoryUl">
					<h1>分类</h1>
					<li><a href="__ROOT__/Php/php.html">全部文章</a></li>
					<volist name="categorys" id="cate">
						<li><a href="__ROOT__/Php/phpbycategory/category/{$cate.id}">{$cate.name}</a></li>
					</volist>
				</ul>
			</div>
		</div>
		<!--分页-->
		<div class="pages">
			{$data.show}
		</div>
		<!--底部-->
		<include file="./Application/Web/View/common/footer.html"/>
	</body>
</html>
